@model Hospital_Management2.Models.HabitacionModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Habitaciones</h1>

<h3>¿Desea eliminar la información de esta Habitación?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Numero de habitación:</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroHabitacion)
        </dd>
        <dt class="col-sm-2">Tipo de habitación:</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoHabitacion)
        </dd>
        <dt class="col-sm-2">Estado de habitaciones:</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoHabitaciones)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input asp-for="HabitacionID" type="hidden" class="form-control" />
        <div class="col-4 offset-2 row">
            <div class="col">
                <button type="submit" class="btn btn-danger w-100"><i class="fa-solid fa-trash"></i> Borrar</button>
            </div>
            <div class="col">
                <a class="btn btn-info w-100" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Volver</a>
            </div>
        </div>
    </form>
</div>