@model Hospital_Management2.Models.HabitacionModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar habitación</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HabitacionID" />
            <div class="form-group">
                <label asp-for="NumeroHabitacion" class="control-label"></label>
                <input asp-for="NumeroHabitacion" class="form-control" />
                <span asp-validation-for="NumeroHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoHabitacion" class="control-label"></label>
                <input asp-for="TipoHabitacion" class="form-control" />
                <span asp-validation-for="TipoHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoHabitaciones" class="control-label"></label>
                <input asp-for="EstadoHabitaciones" class="form-control" />
                <span asp-validation-for="EstadoHabitaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
