@model Hospital_Management2.Models.DoctorModel

@{
    ViewData["Title"] = "Create";
}
<hr />
<h1>Crear nuevo doctor</h1>
<hr />

<div class="container">
<div class="row">
    <div class="col-md-12">

        <div asp-validation-summary="ModelOnly"></div>

        <form asp-action="Create" onsubmit="return confirmAction();">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label asp-for="NombreDoctor" class="form-label">Nombre: </label>
                <input asp-for="NombreDoctor" type="text" class="form-control" />
                <span asp-validation-for="NombreDoctor" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ApellidoDoctor" class="form-label">Apellido: </label>
                <input asp-for="ApellidoDoctor" type="text" class="form-control" />
                <span asp-validation-for="ApellidoDoctor" class="text-danger"></span>
            </div>
                <div class="mb-3">
                    <label asp-for="Especialidad" class="form-label">Especialidad: </label>
                    <input asp-for="Especialidad" type="text" class="form-control" />
                    <span asp-validation-for="Especialidad" class="text-danger"></span>
                </div>
            <div class="mb-3">
                <label asp-for="Telefono" class="form-label">Telefono: </label>
                <input asp-for="Telefono" type="text" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email:</label>
                <input asp-for="Email" type="text" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FechaContratacion" class="form-label">Fecha contratacion: </label>
                <input asp-for="FechaContratacion" type="text" class="form-control" />
                <span asp-validation-for="FechaContratacion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Estado" class="form-label">Estado:</label>
                <input asp-for="Estado" type="text" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
                <br />
                    <div class="col-4 offset-1 row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                        </div>
                        <div class="col">
                            <a href="@Url.Action("Index", "Doctor")" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </div>
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <script>
        function confirmAction() {
            if (confirm('¿Estás seguro de agregar este Doctor?')) {
                return true; // Si el usuario hace clic en "Aceptar", el formulario se envía al servidor
            } else {
                window.location.href = '@Url.Action("Index", "Doctor")'; // Redirigir al usuario al índice si hace clic en "Cancelar"
                return false; // Devolver false para cancelar el envío del formulario
            }
        }
    </script>
}