﻿<h1>Importando Datos desde Excel</h1>

<form asp-action="ImportData"
      method="POST"
      enctype="multipart/form-data">

    <label for="ImportData">Subi tu archivo de Excel</label>
    <input type="file" class="from-control" name="file" />

    <button type="submit" class="btn btn-danger mt-3">
        Guardar Datos
    </button>
</form>