USE [master]
GO
/****** Object:  Database [DB_Hospital]    Script Date: 24/05/2024 20:38:00 ******/
CREATE DATABASE [DB_Hospital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Hospital', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_Hospital.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Hospital_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_Hospital_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Hospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Hospital]
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 24/05/2024 20:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[CitaID] [int] IDENTITY(1,1) NOT NULL,
	[PacienteID] [int] NULL,
	[DoctorID] [int] NULL,
	[FechaCita] [datetime] NOT NULL,
	[MotivoCita] [nvarchar](255) NULL,
	[Estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[CitaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctores]    Script Date: 24/05/2024 20:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctores](
	[DoctorID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Especialidad] [nvarchar](100) NULL,
	[Telefono] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[FechaContratacion] [date] NOT NULL,
	[Estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habitaciones]    Script Date: 24/05/2024 20:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitaciones](
	[HabitacionID] [int] IDENTITY(1,1) NOT NULL,
	[NumeroHabitacion] [nvarchar](10) NOT NULL,
	[TipoHabitacion] [nvarchar](50) NULL,
	[Estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[HabitacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingresos]    Script Date: 24/05/2024 20:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingresos](
	[IngresoID] [int] IDENTITY(1,1) NOT NULL,
	[PacienteID] [int] NULL,
	[HabitacionID] [int] NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[FechaAlta] [datetime] NULL,
	[DiagnosticoInicial] [nvarchar](255) NULL,
	[Estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[IngresoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicamentos]    Script Date: 24/05/2024 20:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicamentos](
	[MedicamentoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[FechaCaducidad] [date] NULL,
	[Stock] [int] NOT NULL,
	[UnidadMedida] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicamentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 24/05/2024 20:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[PacienteID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Sexo] [char](1) NULL,
	[Direccion] [nvarchar](255) NULL,
	[Telefono] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PacienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescripciones]    Script Date: 24/05/2024 20:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescripciones](
	[PrescripcionID] [int] IDENTITY(1,1) NOT NULL,
	[CitaID] [int] NULL,
	[MedicamentoID] [int] NULL,
	[Dosis] [nvarchar](50) NULL,
	[Frecuencia] [nvarchar](50) NULL,
	[Duracion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PrescripcionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Citas] ADD  DEFAULT ('P') FOR [Estado]
GO
ALTER TABLE [dbo].[Doctores] ADD  DEFAULT ('A') FOR [Estado]
GO
ALTER TABLE [dbo].[Habitaciones] ADD  DEFAULT ('L') FOR [Estado]
GO
ALTER TABLE [dbo].[Ingresos] ADD  DEFAULT ('A') FOR [Estado]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctores] ([DoctorID])
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD FOREIGN KEY([PacienteID])
REFERENCES [dbo].[Pacientes] ([PacienteID])
GO
ALTER TABLE [dbo].[Ingresos]  WITH CHECK ADD FOREIGN KEY([HabitacionID])
REFERENCES [dbo].[Habitaciones] ([HabitacionID])
GO
ALTER TABLE [dbo].[Ingresos]  WITH CHECK ADD FOREIGN KEY([PacienteID])
REFERENCES [dbo].[Pacientes] ([PacienteID])
GO
ALTER TABLE [dbo].[Prescripciones]  WITH CHECK ADD FOREIGN KEY([CitaID])
REFERENCES [dbo].[Citas] ([CitaID])
GO
ALTER TABLE [dbo].[Prescripciones]  WITH CHECK ADD FOREIGN KEY([MedicamentoID])
REFERENCES [dbo].[Medicamentos] ([MedicamentoID])
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD CHECK  (([Estado]='N' OR [Estado]='C' OR [Estado]='P'))
GO
ALTER TABLE [dbo].[Doctores]  WITH CHECK ADD CHECK  (([Estado]='I' OR [Estado]='A'))
GO
ALTER TABLE [dbo].[Habitaciones]  WITH CHECK ADD CHECK  (([Estado]='M' OR [Estado]='O' OR [Estado]='L'))
GO
ALTER TABLE [dbo].[Ingresos]  WITH CHECK ADD CHECK  (([Estado]='D' OR [Estado]='A'))
GO
ALTER TABLE [dbo].[Pacientes]  WITH CHECK ADD CHECK  (([Sexo]='F' OR [Sexo]='M'))
GO
USE [master]
GO
